{% load staticfiles %}
<html>
<body>
<table align="center" border="2">
   <tr>
       <th>NAME</th>
       <th>DETAILS</th>
   </tr>
    <tr>
        <th><img src="{% static 'images/ntr.1.jpg' %}" width="150" height="150"></th>
        <td> N.T. Rama Rao Jr. was born on May 20, 1983 in Hyderabad,
             Andhra Pradesh, India as Nandamuri Taraka Ram.He has been married to Lakshmi Pranathi since April 5, 2012.
        </td>
    </tr>
    <tr>
        <th><img src="{% static 'images/avengers.jpeg' %}" width="150" height="150"></th>
        <td>
           The Art of the Movie hardcover book has surfaced online, highlighting concept art that ultimately inspired the blockbuster’s final battle. In it, Chris Evans’ Captain America and Chris Hemsworth’s still mighty Thor — dual wielding both Mjolnir and Stormbreaker — battle Josh Brolin’s time-traveling Mad Titan Thanos for the fate of the universe. With art by Marvel Studios’ Head of Visual Development Ryan Meinerding, the 376-page book offers concept art and exclusive interviews with a behind-the-scenes look at Avengers: Endgame, the culmination of 22 interconnected films that signaled the end of the Infinity Saga and the first 11-year chapter of the shared Marvel Cinematic Universe.
        </td>
    </tr>
</table>
</body>
</html>